<div id='result'>
  {{#each clientsPageable.items.result}}

    <div class='card border-primary mb-2'>
      <div class='row'>
        <div class='col-md-3 text'>
          <img src='{{Client.avatar}}' width='250' height='250' alt='photo' />
        </div>

        <div class='col-md-3 mt-5'>
          <div class='text-default text mt-4'>{{Client.name}}
            {{Client.lastName}}
          </div>
          <div class='text-default text mt-3'>{{Client.date}}</div>
        </div>
        <div class='col-md-3 mt-5'>
          <div class='text-default text mt-4'>{{Client.email}}</div>
          <div class='text-default text mt-3'>{{Client.tel}}</div>
        </div>
        {{! !!!!!!!!!!BUTTONS!!!!!!!!!!!! }}
        <!-- кнопка редагувати -->
        <div class='col-md-3 mt-5'>
          <button
            class='edit_button btn btn-outline-primary text mt-2'
            data-bs-toggle='modal'
            data-bs-target='#editModal'
            id={{id}}
          > edit client </button>
          <br /><br />
          <!-- кнопка delete -->
          <button class='delete_button btn btn-outline-danger text' id='{{id}}'>
            delete client
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>