<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
  <!-- кнопка добавити -->
  <div class="container mt-5 "> 
    <div class="add mx-5 mb-5 ">
      <button class="d-inline btn btn-outline-primary btn-lg px-5 mx-5 "  data-bs-toggle="modal" data-bs-target="#addModal"> Add client </button>
     <!-- модальне вікно  -->
     <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add client</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
              <form action="" class="form" name="addClient">
                <div class="form-group circle">
                  <input type="text" class="upload" id="photo-upload" name="avatar" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3 " placeholder="name" name="name" id="clean">
                  <input type="date" class="form-control mb-3 ml-3" placeholder="date" name="date" id="clean">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3" placeholder="last name" name="lastName" id="clean">
                  <input type="tel" class="form-control mb-3 ml-3" placeholder="tel" name="tel" id="clean">
                </div> 
                <div class="form-group">
                  <input type="email" class="form-control mb-3" placeholder="email" name="email" id="clean"> 
                </div>
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="submit">Save</button>
            </div>
               </form>
          </div>
        </div>
      </div>

{{!-- =========================================================== --}}

      <!-- фільтр -->
        <div class="dropdown d-inline px-5 mx-5" >
          <button class="btn btn-outline-primary btn-lg ms-5 px-5" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
            </svg>
            Filter
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <form action="" class="form" name="filterClient">
                <div class="form-group circle">
                  <input type="text" class="upload" id="photo-upload" name="avatar" >
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3 " placeholder="name" name="name" id="clean">
                  <input type="date" class="form-control mb-3 ml-3" placeholder="date" name="date" id="clean">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3" placeholder="last name" name="lastName" id="clean">
                  <input type="tel" class="form-control mb-3 ml-3" placeholder="tel" name="tel" id="clean">
                </div> 
                <div class="form-group">
                  <input type="email" class="form-control mb-3" placeholder="email" name="email" id="clean"> 
                </div>
            
              <button type="submit" class="btn-outline-primary"  id="filter" onclick="filtering()">Filter</button>
            </form>
          </ul> 
        </div>
    </div>
    <img src="./../../../../img/1.jpg" alt="">
{{!-- ============================================================ --}}
<!-- іменні карточки -->
<div id="result">
          <img src="../uploads/profileimagies/myphotof95401ec-9855-4954-9efc-00fd8483d5e5.jpg" alt="" >

 {{#each result.data}}
    <div class="card border-primary mb-2">
      <div class="row">
        <div class="col-md-3 text  ">
          <img src="{{avatar}}" alt="" width="250" height="250">
        </div>
        
        <div class="col-md-3 mt-5">
          <div class="text-default text mt-4">{{name}} {{lastName}} </div>
          <div class="text-default text mt-3">{{date}}</div>
        </div>
        <div class="col-md-3 mt-5">
          <div class="text-default text mt-4">{{email}}</div>
          <div class="text-default text mt-3">{{tel}}</div>
        </div>
{{!-- !!!!!!!!!!BUTTONS!!!!!!!!!!!! --}}
<!-- кнопка редагувати -->
       <div class="col-md-3 mt-5">
          <button class="edit_button btn btn-outline-primary text mt-2"  data-bs-toggle="modal" data-bs-target="#editModal" id= {{id}}>   edit client  </button>
          <br><br>
<!-- кнопка delete -->
          <button class="delete_button btn btn-outline-danger text " id="{{id}}">  delete client  </button> 
        </div>
      </div>
    </div>
{{/each}}
</div>

<!-- модальне вікно EDIT-->
          <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Edit client</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
           <div class="modal-body">
              <form action="" class="form" name="edit">
                <div class="form-group circle">
                  <input type="text" class="upload" id="photo-upload" name="avatar">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3 " placeholder="{{editClient.name}}" text="qwert" name="name">
                  <input type="date" class="form-control mb-3 ml-3" placeholder="date" name="date">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control mb-3" placeholder="last name" name="lastName">
                  <input type="tel" class="form-control mb-3 ml-3" placeholder="tel" name="tel">
                </div> 
                <div class="form-group">
                  <input type="email" class="form-control mb-3" placeholder="email" name="email"> 
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" id="edit">Save</button>
            </div>
              </div>
            </div>
          </div>

<!-- пагинация -->
<div class = "row">
    <div class="pagin mx-auto col-md-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination ">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
          <span id = "pagin" class="row">
            <li class="page-item"><a class="page-link" href="#">1</li>
          </span> 
           
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only"></span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-5">
      <select name="" id="limit">
        <option value="2">2</option>
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </div>
    </div>
  </div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src = "../nest-categ/todo-categ/src/client/client.controller.ts"></script>
<script>
function getCargs(result){
  let cards = "";
    for(let i = 0; i<result.length;i++){
      cards+=`<div class="card border-primary mb-2">
          <div class="row">
            <div class="col-md-3 text  ">
              <img src="`+result[i].avatar+`" alt="" width="250" height="250">
            </div>
            
            <div class="col-md-3 mt-5">
              <div class="text-default text mt-4">`+result[i].name + ` `+ result[i].lastName+`</div>
              <div class="text-default text mt-3">`+result[i].date+`</div>
            </div>
            <div class="col-md-3 mt-5">
              <div class="text-default text mt-4">`+result[i].email+`</div>
              <div class="text-default text mt-3">`+result[i].tel+`</div>
            </div>
    <!-- кнопка редагувати -->
          <div class="col-md-3 mt-5">
              <button class="edit_button btn btn-outline-primary text mt-2"  data-bs-toggle="modal" data-bs-target="#editModal" id= {{id}}>   edit client  </button>
              <br><br>
    <!-- кнопка delete -->
              <button class="delete_button btn btn-outline-danger text " id="`+result[i].id+`" onclick="delete1(`+result[i].id+`)">  delete client  </button> 
            </div>
          </div>
        </div>`;
    }
          let l = document.getElementById("result");
          l.innerHTML=cards;  

}
//SCRIPT PAGINATE

// SCRIPT DELETE
var del = document.getElementsByClassName('delete_button');
for (var i = 0; i < del.length; i++)
  del[i].onclick = function () {
    alert('Do you want to delete this client?');
    let client = JSON.stringify({ id: this.id });
    let request = new XMLHttpRequest();
    request.open('DELETE', '/delete' + this.id, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(client);
    request.onload = function(){
    console.log(request.response);
    filtering()
    };
  };



function filtering() {
 let registerForm = document.forms["filterClient"];
 let name = registerForm.elements["name"].value;
 let lastName = registerForm.elements["lastName"].value;
 let tel = registerForm.elements["tel"].value;
 let email = registerForm.elements["email"].value;
 let date = registerForm.elements["date"].value;
 let client = JSON.stringify({name: name, lastName: lastName, tel:tel, email:email, date:date});
  let request = new XMLHttpRequest(); 
  request.open("POST", "/filter", true);   
  request.setRequestHeader("Content-Type", "application/json");
  request.onload = function a(){
  console.log(request.response);
  let res = $.parseJSON(request.response);
  console.log(res.result)
  getCargs(res.result)
  };
  request.send(client);
}


function delete1(id1){
  alert('Do you want to delete this client?');
  let client = JSON.stringify({ id: id1 });
    let request = new XMLHttpRequest();
    request.open('DELETE', '/delete' + id1, true);
    request.setRequestHeader('Content-Type', 'application/json');
    request.send(client);
    request.onload = function(){
    console.log(request.response);
    };
}

//SCRIPT GET FOR EDIT
var get = document.getElementsByClassName('edit_button');
for (var i = 0; i < get.length; i++)
  get[i].onclick = function () {
    let client = JSON.stringify({ id: this.id });
    let request = new XMLHttpRequest();
  };


document.getElementById("submit").addEventListener("click", function (e) {
             e.preventDefault();
            let registerForm = document.forms["addClient"];
            let name = registerForm.elements["name"].value;
            let lastName = registerForm.elements["lastName"].value;
            let tel = registerForm.elements["tel"].value;
            let email = registerForm.elements["email"].value;
            let date = registerForm.elements["date"].value;
            let avatar = registerForm.elements["avatar"].value;
            let data = new FormData()
              data.append('name', name)
              data.append('lastName', lastName)
              data.append('tel', tel)
              data.append('email', email)
              data.append('date', date)
              data.append('avatar', avatar)
             let data_body = "&name=" + name + "&lastName="+ lastName+"&tel=" + tel + "&email="+ email+"&date="+ date+"&avatar="+ avatar;  
            fetch("clientAdd", { 
              method: "POST",
              body: data_body,   
              headers:{"content-type": "application/x-www-form-urlencoded"} 
              })
              
              .then( (response) => {
                      if (response.status !== 200) {           
                    return Promise.reject();
                      }   
              return response.text()
              })
              .then(i => console.log(i))
              .catch(() => filtering()); 
            var inputs = document.querySelectorAll('input');
            for (var i = 0;  i < inputs.length; i++) {
              inputs[i].value = '';
            };
         });

</script>
<!-- jQuery -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>